.gallery {
	display: grid;
	grid-template-columns: repeat(3, 1fr); /* 3 колонки */
	grid-auto-rows: minmax(100px, auto); /* Автоматична висота рядків */
	gap: 10px; /* Відступи між елементами */
  }
  
  .gallery-item {
	width: 100%; /* Заповнює ширину контейнера */
	height: auto; /* Автоматична висота */
  }
  
  .gallery-link {
	display: block; /* Робимо посилання блоковими елементами */
  }
  
  .gallery-image {
	width: 100%; /* Заповнює ширину батьківського елемента */
	height: auto; /* Автоматична висота */
  }
  

  .modal {
	max-width: 100%;
  	height: auto;
	padding: 20px;
	user-select: none;
	background-color:  #2e2f42;;
	box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.2);
	border-radius: 8px;
	display: flex;
	flex-direction: column;
	align-items: center;
  }

  .modal img {
  width: 100%;
  height: 100%;
  object-fit: cover;
  border-radius: 8px;
}

li {
	list-style-type: none;
  }